<div class="topbar">
  <div class="topbar-left" style="background-color: rgb(247, 246, 247)">
    <a href="#" class="logo">
      <img
        src="assets/images/logo1.png"
        class="mr-2"
        height="50"
        width="200"
        alt=""
      />
    </a>
  </div>

  <nav class="navbar-custom" style="background-color: rgb(247, 246, 247)">
    <ul class="navbar-right list-inline float-right mb-0">
      <li
        class="dropdown notification-list list-inline-item d-none d-md-inline-block"
        style="padding-right: 15px; padding-left: 15px; padding-top: 15px"
      >
        <a class="waves-effect" href="#" id="btn-fullscreen">
          <i class="mdi mdi-arrow-expand-all noti-icon"></i>
        </a>
      </li>
    </ul>

    <!-- <ul class="list-inline menu-left mb-0">
      <li class="d-none d-md-inline-block">
        <form role="search" class="app-search">
          <div class="form-group mb-0">
            <input
              type="text"
              class="form-control"
              placeholder="Search.. "
              style="
                position: fixed;
                left: 868px;
                color: rgb(244, 246, 242);
                background-color: #0070ad;
                border: 2px solid #0070ad;
              "
            />
            <button type="submit">
              <i
                class="fa fa-search"
                style="position: fixed; left: 1044px; color: white"
              ></i>
            </button>
          </div>
        </form>
      </li>
    </ul> -->
  </nav>
</div>
