<div id="sidebar-menu">
  <!-- Left Menu Start -->
  <ul class="metismenu" id="side-menu">
    <!-- <li class="menu-title">
      <a routerLink="/home" routerLinkActive="mm-active" class="waves-effect"
        >Home
      </a>
    </li> -->
    <li class="menu-title">Dashboard</li>
    <li>
      <a
        routerLink="/project"
        routerLinkActive="mm-active"
        class="waves-effect"
      >
        <i class="icon-accelerator"></i>
        <span> Project </span>
      </a>
    </li>
    <li>
      <a
        routerLink="/resource"
        routerLinkActive="mm-active"
        class="waves-effect"
      >
        <i class="icon-accelerator"></i>
        <span> Resource </span>
      </a>
    </li>

    <!-- <li class="menu-title">Components</li>

    <li>
      <a class="waves-effect"
        ><i class="icon-todolist-check"></i><span> Forms </span></a
      >
    </li>

    <li>
      <a class="waves-effect"
        ><i class="icon-graph"></i><span> Charts </span></a
      >
    </li>

    <li>
      <a class="waves-effect"
        ><i class="icon-spread"></i><span> Tables </span></a
      >
    </li> -->
  </ul>
</div>
