table {
  width: 100%;
  table-layout: fixed;
}

.mat-header-cell {
  text-align: center;
  min-height: 12px;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: rgb(86, 117, 218);
  /* padding: 8px 8px 8px 8px; */
  border: 15px;
  margin-right: 15px;
  padding-right: 15px;
  text-align: center;
  column-width: auto;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  /* display: flex; */
}

/* .example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
} */

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
.gan2 {
  /* width:100%; */
  table-layout: initial;

  width: 1265px;
}
.mat-icon-button {
  color: black;
  border: white;
}

.detail-table {
  background: white;
  /* text-align: center; */
  width: auto;
  column-width: auto;
  /* overflow:scroll; */
  overflow-x: scroll;
  white-space: nowrap;
  table-layout: auto;
  font-family: "Ubuntu";
  text-align: center;
  padding: 8px 8px 8px 8px;
}

div.detail-table td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 10px 10px 10px 10px;
}

.tableinfo {
  color: rgb(238, 231, 231);
  background-color: rgb(15, 14, 14);
  margin: 10px 10px 10px 10px;
  width: 50px;
  font-family: "Ubuntu";
}

.example-spacer {
  flex: 1 1 auto;
}

.flex-parent-element {
  display: flex;
}

.flex-child-element {
  flex: 1;
  margin: 10px;
}

.flex-child-element:first-child {
  margin-right: 20px;
}
.astext {
  background: none !important;
  border: none;
  padding: 3px !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;

  cursor: pointer;
}

.astext:hover {
  background: none !important;
  text-decoration: underline;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}

form {
  padding-bottom: 30px;
}
.primary {
  background: orange;
  color: white;
}

.date-block {
  display: flex;
}
.date-block__list {
  flex-basis: 150px;
  margin-right: 15px;
}
